@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: inherit;
}

header {
    position: fixed;
    width: 100vw;
    top: 0;
    background: #D8E7EF;
}

body {
    margin: 0;
    padding: 0px;
    background: #C3DFA5;
    overflow: hidden;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1554034483-04fda0d3507b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80);
    background-size: cover;
}

h1 {
    color: black;
    position: relative;
}

main {
    padding: 16px;
    margin-bottom: 30px;
    height: 100vh;
    margin-top: 51px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: flex;
    justify-content: center;
    background: linear-gradient(0deg, #6FC3DF, #C3DFA5);
    border-radius: 35%;
}

nav {
    border: 2px solid black;
    align-content: center;
    height: 100%;
    padding: 0;
    max-height: 58px;
}

nav>ul {
    display: flex;
    justify-content: right;
    height: fit-content;
    height: 100%;
    margin: 0;
    padding-right: 10px;
}

.user {
    position: absolute;
    left: 0;
}

nav>ul>li {
    display: block;
    /* padding-top: 8px;
    padding-bottom: 8px; */
    padding-left: 10px;
    padding-right: 0px;
    height: inherit;
    height: 54px;
    font-size: 2.0rem;
    display: flex;
    align-items: center;
}

nav>ul>li>a:hover {
    border: 1px solid black;
}

nav>ul>li>a {
    text-decoration: none;
    color: black;
    height: 100%;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
}

th {
    font-weight: bolder;
    font-family: sans-serif;
}

td {
    padding-bottom: 10px;
    text-align: center;
    font-size: 1.5rem;
}

.prolink {
    font-size: 1.3rem;
}

.data,
.prolink,
.number {
    color: #ffffff;
    cursor: pointer;
    position: relative;
    text-shadow:
        -1px 1px 0 #1d824e,
        -2px 2px 0 rgb(5, 57, 13);
    text-decoration: none;
}

.data:after,
.prolink:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -1px;
    left: -4px;
    transform: scaleX(0);
    box-shadow:
        0 5px 0 #1d824e;
    background: #ffffff;
    transform-origin: bottom left;
    transition: transform 0.5s ease-out;
}

.data:hover:after,
.prolink:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

main>div>p,
main>div>h1 {
    text-align: center;
}

.number {
    color: #ffffff;
    position: relative;
    text-shadow:
        -1px 1px 0 #1d824e,
        -2px 2px 0 rgb(5, 57, 13);
}
