{% extends 'base.html' %}
{% block title %}Project List{% endblock title %}
{% block content %}
<main class="main">
    <div>
        <h1>My Projects</h1>
        <p><a class="prolink" href="{% url 'create_project' %}">Create a new project</a></p>
        {% if projects.count == 0 %}
        <p>You are not assigned to any projects</p>
        {% else %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of tasks</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                <tr class="data-row">
                    <td><a class="data" href="{% url 'show_project' project.id %}">{{ project.name }}</a></td>
                    <td class="number">{{ project.tasks.all.count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</main>
{% endblock content %}
